@font-face {
    font-family: 'Gilam';
    font-display: swap;
    src: url("../fonts/GilamRegular.woff2");
    src: local("O"), url("../fonts/GilamRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    font-display: swap;
    src: url("../fonts/CirceRegular.woff2");
    src: local("O"), url("../fonts/CirceRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gilam';
    background: #171717;
    color: #fff;
}


.container {
    max-width: 1460px;
    margin: 0 auto;
}



.nav_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 120px;
}

.nav_logo {
    font-family: 'Circe';
    padding: 10px 25px;
    color: #E4B564;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


a {
    color: #E4B564;
}

.nav_bar_button {
    padding-right: 10px;
}

.button_text {
    background: #1c1c1c;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px;
    color: #E4B564;
    border: 1px solid #E4B564;
}

/* перша секція */


.tittle {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 41px;
}


.first_section_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    max-width: 1182px;
    padding-bottom: 41px;
}

.first_section_box {
    display: grid;
    height: 963px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "first first second second third third"
        "first first second second third third"
        "fourth fourth fourth fifth fifth fifth"
        "fourth fourth fourth fifth fifth fifth";
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-bottom: 161px
}




.first_section_items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}


.first_section_first_item {
    background: rgba(99, 79, 44, 1);
    grid-area: first;
}



.first_section_second_item {
    background: rgba(180, 163, 133, 1);
    grid-area: second;
}


.second_item_text {
    width: 380px;
    height: 56px;
}


.first_section_third_item {
    background: rgba(228, 181, 100, 1);
    grid-area: third;
}


.first_section_fourth_item {
    background: rgba(99, 90, 74, 1);
    grid-area: fourth;
}


.first_section_fifth_item {
    background: rgba(176, 140, 77, 1);
    grid-area: fifth;
}

/* друга секція */

.second_section_box {
    display: grid;
    height: 897px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3.5fr 0.3fr 1.6fr 1.5fr 3.3fr 0.5%;
    gap: 26px 30px;
    margin-bottom: 192px;
}

.second_tittle {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 94px;
}



.second_section_items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.second_second_text {
    max-width: 302px;
    padding-top: 44px;
    padding-left: 50px;
}

.second_section_first_item {
    grid-area: 1 / 1 / 3 / 2;
    background: #0E0E0E;

}

.second_section_second_item {
    grid-area: 3 / 1 / 7 / 2;
    background: #1F1F1F;

}

.second_section_third_item {
    grid-area: 1 / 2 / 4 / 3;
    background: #242424;



}

.second_section_fourth_item {
    grid-area: 1 / 3 / 2 / 4;
    background: #1F1F1F;

}

.second_section_fifth_item {
    background: #0E0E0E;
    grid-area: 2 / 3 / 5 / 4;

}

.second_section_sixth_item {
    background: #0E0E0E;
    grid-area: 5 / 3 / 7 / 4;

}

.second_section_seventh_item {
    background: #E4B564;
    grid-area: 4 / 2 / 6 / 3;

}


/* третя секція  */

.third_container {
    background: #0E0E0E;
    height: 1090px;
}

.third_tittle {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

}

.third_navigation_items {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    margin-bottom: 72px;
}

.second_button {
    background-color: #0E0E0E;
    padding: 10px 40px;
    font-family: 'Circe';
    color: #E4B564;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.third_section_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.third_section_first_item {
    display: flex;
    justify-content: center;
    padding: 171px 0;
    background: #634F2C;
}

.third_section_second_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: rgba(232, 210, 171, 0.76);
}


.third_section_second_item:hover {
    cursor:pointer;
}

.third_section_third_item {
    display: flex;
    justify-content: center;
    padding: 171px 0;
    background: #E4B564;
}

.second_section_item {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    width: 320px;
    height: 140px;
    margin: 0 auto;
}

.span_second_part {
    font-weight: 400;
}

.third_section_fourth_item {
    display: flex;
    justify-content: center;
    padding: 171px 0;
    background: #635A4A;
}

.third_section_fifth_item {
    display: flex;
    justify-content: center;
    padding: 171px 0;
    background: #B08C4D;
}

.third_section_sixth_item {
    display: flex;
    justify-content: center;
    padding: 171px 0;
    background: #634F2C;
}

